<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <link rel="icon" href="{{ '/assets/brand/se/favicon-32.png' | relative_url }}" type="image/png" sizes="32x32">
  <link rel="apple-touch-icon" href="{{ '/assets/brand/se/apple-touch-icon.png' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}">
</head>